[Unit]
Description=Responsible for pushing queued sensar messages up to the 'cloud'
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/push-queued-messages

[Install]
WantedBy=sensar.target
